@font-face {
    font-family: 'nothing';
    src: local('nothing'), url(./NothingYouCouldDo-Regular.ttf) format('truetype');
}
.listItem {
    color: white;
    font-family: 'nothing';
    font-size: 2vw;
}